* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6em;
  font-family: "Montserrat", sans-serif;
  --primary: #b106ec;
  --text: #5a5a5a;
  --title-color: #1c0a1a;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid silver;
}
header .logo h1 {
  font-size: 34px;
}
header .far,
.fas {
  color: var(--primary);
  padding-right: 7px;
}
nav ul {
  display: flex;
  align-items: center;
  padding-right: 50px;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  overflow: auto;
  background: transparent;
  margin: 2em 25px;
}
nav ul li {
  list-style-type: none;
  margin: 0 1em;
}
nav ul li:nth-child(1) a {
  color: var(--primary);
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  padding: 1.5em 0 2.5em;
  transition: color 200ms ease-in;
}
nav ul li a:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--orange);
}
nav {
  display: flex;
  justify-content: space-between;
  /* width:70%; */
}
.contact p {
  font-size: 18px;
  color: var(--text);
  cursor: pointer;
}
.section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(/images/banner.jpg);
  background-size: 115%;
  background-position: center;
}
.section1 .content h1 {
  font-size: 60px;
  color: var(--title-color);
  font-weight: 600;
  max-width: 635px;
  margin: 0 auto;
  line-height: 1.2;
}
.section1 .content p {
  font-size: 18px;
  color: var(--text);
  line-height: 27px;
  max-width: 680px;
  margin: 10px auto;
  margin-bottom: 2em;
}
.btn {
  padding: 1em 2em;
  color: var(--primary);
  font-size: 1em;
  border: 1px solid var(--primary);
  border-radius: 5px;
  transition: 250ms ease-in;
}
.btn:hover {
  background: var(--primary);
  color: #fff;
}
img {
  max-width: 100%;
}
.section2 {
  padding: 4em 6em;
  background: #f4f4f4;
}
.section2 > h1 {
  color: var(--title-color);
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
  text-transform: capitalize;
}
.section2 .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}
.section2 .content .item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.section2 .content .item i {
  font-size: 2em;
  padding: 10px 0;
  color: #235a19;
  transition: 250ms ease-in;
}
.section2 .content .item .item1:hover i {
  color: var(--primary);
}
.section2 .content .item .item1:hover {
  box-shadow: 1px 20px 30px #c4c4c433;
}
.section2 .content .item h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.section2 .content .item p {
  font-size: 16px;
  color: var(--text);
  line-height: 22.4px;
  margin-top: 8px;
}
.section2 .content .item .item1 {
  background: #fff;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  transition: 250ms ease-in;
}
.section3 {
  background: url(/images/laptop.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section4 {
  padding: 4em 6em;
  background: #f4f4f4;
}
.section4 > h1 {
  color: var(--title-color);
  font-size: 40px;
  line-height: 55px;
  font-weight: 500;
  text-transform: capitalize;
}
.section4 .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3em;
  justify-content: center;
  text-align: center;
  padding: 3em 0;
}
.section4 .content .card {
  background: #fff;
  border-radius: 5px;
}
.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #f4f4f4;
  position: relative;
  color: var(--primary);
}
.section4 .content .card {
  padding: 2em;
}
.section4 .content .card p {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  color: var(--title-color);
  margin-top: 20px;
  margin-bottom: 0;
}
.section4 .content .card h2 {
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: var(--text);
  margin-top: 10px;
}
.section5 {
  padding: 3em 5em;
}
.section5 .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section5 .content h1 {
  color: var(--title);
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
}
.section5 .content p {
  color: var(--text-color);
  font-size: 22px;
  line-height: 34px;
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.section5 .btn1 {
  color: #fff;
  background-color: #235a19;
  border-color: #235a19;
  margin-right: 10px;
}
.section5 .btn2 {
  color: #235a19;
  background-color: #fff;
  border-color: #235a19;
  transition: 250ms ease-in;
}
.section5 .btn2:hover {
  background-color: #235a19;
  color: #fff;
}
.section5 .content2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin: 2em 0;
  margin-top: 5rem;
}
.section5 .content2 h3 {
  font-size: 29px;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;
}
.section5 .content2 h2 {
  font-size: 26px;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 12px;
  display: inline-block;
  cursor: pointer;
  transition: 250ms ease-in;
}
.section5 .content2 h2:hover {
  color: var(--primary);
}
.section5 .content2 p {
  color: var(--text);
  font-size: 22px;
  line-height: 34px;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-weight: lighter;
}

.section6 {
  position: relative;
}
.section6 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.section6 .content h1 {
  font-size: 60px;
  opacity: 0.8;
  line-height: 58px;
  font-weight: 300;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 12px;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.section7 > h1 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.section7 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/about.jpg);
  background-size: cover;
  background-position: center;
  padding: 5em 0;
}
.section7 .content {
  width: 65%;
  margin: 1em auto;
  padding: 3em 5em;
  border: 4px solid #96989b;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  text-align: center;
}
.section7 img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
}
.section7 h2 {
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
}
.section7 p {
  font-size: 20px;
  margin-top: 1rem;
  color: var(--primary);
  font-style: italic;
}
.section9 .content9 {
  display: flex;
  justify-content: space-between;
  padding: 5em;
}
.section9 .content9 p {
  line-height: 1.8;
  margin-top: 20px;
  color: #929292;
  cursor: pointer;
  transition: padding 0.5s ease-in-out;
}
.section9 {
  padding-top: 4em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/foot-bg.jpg);
}
.section9 .content9 p:hover {
  color: #fff;
}
.section9 .content9 h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase;
}
.section9 .content9 h3 {
  margin: 25px 0;
  font-size: 1.5em;
  color: #fff;
}

.section9 .content9 h3 span {
  color: #ff0000;
}
.section9 .content9 input[type="text"] {
  padding: 10px 20px;
  border: 0;
  background: #101720;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 38px 0;
  font-weight: 300;
  text-transform: uppercase;
}
.section9 .content9 input[type="submit"] {
  cursor: pointer;
  padding: 14px 22px;
  background: #0a0f17;
  line-height: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 5em;
  padding: 2em 0;
  color: rgb(104, 104, 104);
}
.slicknav_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  header {
    display: flex;
    padding: 2em;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid silver;
  }
  .section1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(/images/banner.jpg);
    background-size: 180%;
    background-position: center top;
    padding: 6em 0;
  }
  .section1 .content h1 {
    font-size: 30px;
    color: var(--title-color);
    font-weight: 600;
    max-width: 635px;
    margin: 0 auto;
    line-height: 1.2;
  }
  .section1 .content p {
    font-size: 15px;
    color: var(--text);
    line-height: 27px;
    max-width: 680px;
    margin: 10px auto;
    margin-bottom: 2em;
  }
  .btn {
    padding: 1em 2em;
    color: var(--primary);
    font-size: 1em;
    border: 1px solid var(--primary);
    border-radius: 5px;
    transition: 250ms ease-in;
  }
  .btn:hover {
    background: var(--primary);
    color: #fff;
  }
  img {
    max-width: 100%;
  }
  .section2 {
    padding: 2em;
    background: #f4f4f4;
  }
  .section2 > h1 {
    color: var(--title-color);
    font-size: 30px;
    line-height: 55px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .section2 .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .section2 .content .item {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section2 .content .item h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .section2 .content .item p {
    font-size: 16px;
    color: var(--text);
    line-height: 22.4px;
    margin-top: 8px;
  }
  .section2 .content .item .item1 {
    background: #fff;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
  }
  .section3 {
    background: url(/images/laptop.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .section4 {
    padding: 2em;
    background: #f4f4f4;
  }
  .section4 > h1 {
    color: var(--title-color);
    font-size: 30px;
    line-height: 55px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .section4 .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    text-align: center;
    padding: 2em 0;
  }
  .section4 .content .card {
    background: #fff;
    border-radius: 5px;
  }
  .section4 .content .card p {
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
    color: var(--title-color);
    margin-top: 20px;
    margin-bottom: 0;
  }
  .section4 .content .card h2 {
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--text);
    margin-top: 10px;
  }
  .section5 {
    padding: 2em;
  }
  .section5 .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .section5 .content h1 {
    color: var(--title);
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
  }
  .section5 .content p {
    color: var(--text-color);
    font-size: 22px;
    line-height: 24px;
    margin: 1rem 0;
    margin-bottom: 3rem;
  }

  .section5 .btn1 {
    color: #fff;
    background-color: #235a19;
    border-color: #235a19;
    width: 100%;
    margin-bottom: 10px;
  }
  .section5 .btn2 {
    color: #235a19;
    background-color: #fff;
    border-color: #235a19;
    transition: 250ms ease-in;
    width: 100%;
  }
  .section5 .btn2:hover {
    background-color: #235a19;
    color: #fff;
  }
  .section5 .content2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 2em 0;
    margin-top: 5rem;
  }
  .section5 .content2 h3 {
    font-size: 24px;
    color: #ddd;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .section5 .content2 h2 {
    font-size: 18px;
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: 12px;
    display: inline-block;
    cursor: pointer;
    transition: 250ms ease-in;
  }
  .section5 .content2 h2:hover {
    color: var(--primary);
  }
  .section5 .content2 p {
    color: var(--text);
    font-size: 18px;
    line-height: 34px;
    margin: 1rem 0;
    margin-bottom: 2rem;
    font-weight: lighter;
  }
  .section6 {
    position: relative;
  }
  .section6 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .section6 .content h1 {
    font-size: 60px;
    opacity: 0.8;
    line-height: 58px;
    font-weight: 300;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 12px;
  }
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .section7 > h1 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
  .section7 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/images/about.jpg);
    background-size: cover;
    background-position: center;
    padding: 5em 0;
  }
  .section7 .content {
    width: 95%;
    margin: 1em auto;
    padding: 2em;
    border: 4px solid #96989b;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    text-align: center;
  }
  .section7 img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .section7 h2 {
    font-size: 16px;
    line-height: 34px;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
  }
  .section7 p {
    font-size: 15px;
    margin-top: 1rem;
    color: var(--primary);
    font-style: italic;
  }
  .section9 .content9 {
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
  }
  .section9 .content9 p {
    line-height: 1.8;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    transition: padding 0.5s ease-in-out;
  }
  .section9 .content9 p:hover {
    color: #fff;
  }
  .section9 .content9 h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 38px;
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .section9 .content9 h3 {
    margin: 25px 0;
    font-size: 1.5em;
    color: #fff;
  }

  .section9 .content9 h3 span {
    color: #ff0000;
  }
  .section9 .content9 input[type="text"] {
    padding: 10px 20px;
    border: 0;
    background: #101720;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 38px 0;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
  }
  .section9 .content9 input[type="submit"] {
    cursor: pointer;
    width: 100%;
    padding: 14px 22px;
    background: #0a0f17;
    line-height: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    border: none;
    text-transform: uppercase;
  }

  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2em;
    color: #fff;
  }
  .slicknav_menu {
    display: block;
    position: absolute;
    top: 15px;
    right: -5px;
    left: -5px;
    background: transparent !important;
    width: 100%;
  }
  .slicknav_btn {
    background: var(--blue) !important;
    font-size: 1.2em;
    color: red;
  }
  .slicknav_nav {
    background: rgb(39, 39, 39);
    width: 375px;
    margin: 0;
    padding: 2em 0;
    padding-bottom: 2em !important;
  }
  .slicknav_nav li {
    margin: 0;
    padding-bottom: 1em;
    height: 3em;
    line-height: 3em;
    width: 100%;
  }
  .slicknav_nav li a {
    color: #fff;
    font-weight: bold;
    padding: 1em 2em;
    width: 100%;
    transition: 300ms ease-in;
  }
  .slicknav_nav li a:hover {
    background: rgb(177, 171, 171);
  }
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
